<section class="trips-section">
    <div class="section-header">
        <h2>THE MOST FAMOUS SHARM EL SHEIKH TRIPS</h2>
        <p class="subtitle">Amazing design services</p>
    </div>

    <div class="trips-grid">
        <div class="trip-card">
            <img src="images/tripone.jpeg" alt="Quad Trip" />
            <div class="card-body">
                <h3>THE TRESCOAT SPA RESORT</h3>
                <p>Price : 1,120 EGP</p>

                <div class="card-buttons">
                    <button class="btn book">Book</button>
                    <button class="btn view">View</button>
                </div>
            </div>
        </div>
        <div class="trip-card">
            <img src="images/tripone.jpeg" alt="Quad Trip" />
            <div class="card-body">
                <h3>THE TRESCOAT SPA RESORT</h3>
                <p>Price : 1,120 EGP</p>

                <div class="card-buttons">
                    <button class="btn book">Book</button>
                    <button class="btn view">View</button>
                </div>
            </div>
        </div>
        <div class="trip-card">
            <img src="images/tripone.jpeg" alt="Quad Trip" />
            <div class="card-body">
                <h3>THE TRESCOAT SPA RESORT</h3>
                <p>Price : 1,120 EGP</p>

                <div class="card-buttons">
                    <button class="btn book">Book</button>
                    <button class="btn view">View</button>
                </div>
            </div>
        </div>
        <div class="trip-card">
            <img src="images/tripone.jpeg" alt="Quad Trip" />
            <div class="card-body">
                <h3>THE TRESCOAT SPA RESORT</h3>
                <p>Price : 1,120 EGP</p>

                <div class="card-buttons">
                    <button class="btn book">Book</button>
                    <button class="btn view">View</button>
                </div>
            </div>
        </div>
    </div>
</section>