<footer class="footer">
  <div class="footer-top">
    <div class="footer-section">
      <h4>Our Company</h4>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Taxi</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <h4>Get in touch</h4>
      <p><i class="fas fa-map-marker-alt"></i> Al Madinah Al Munawwarah,<br> Kingdom of Saudi Arabia</p>
      <p><i class="fas fa-phone"></i> +966 50 085 7914</p>
      <p><i class="fas fa-envelope"></i> Info&#64;eiblaelectric.com</p>
    </div>

    <div class="footer-section">
      <h4>Follow Us</h4>
      <p><i class="fab mx-2 fa-facebook-f"></i> FACEBOOK</p>
      <p><i class="fab mx-2 fa-instagram"></i> INSTAGRAM</p>
      <p><i class="fab mx-2 fa-linkedin-in"></i> LINKEDIN</p>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="footer-logo">
      <img src="images/logo.png" alt="MASA TOUR Logo" />
      <span>MASA TOUR</span>
    </div>

    <div class="footer-copy">
      MASA-TOUR © All Rights Reserved
    </div>

    <div class="footer-icons">
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-linkedin-in"></i></a>
    </div>
  </div>
</footer>
